<div class="col-md-offset-3 col-md-7 panel panel-default">
  <div class="panel-body">
    <h3><%= link_to subject.name, admin_subject_path(subject) %></h3>
    <p>
      <%= t "created_ago", time: "#{time_ago_in_words subject.created_at}" %>
      <%= link_to "",
        edit_admin_subject_path(subject), class: "btn btn-warning btn-md
          glyphicon glyphicon-edit" %>
      <%= link_to "", admin_subject_path(subject),
        method: :delete, data: {confirm: t("admin.subject.delete.confirm")},
        class: "btn btn-danger btn-md glyphicon glyphicon-trash" %>
    </p>
    <%= form_for [:admin, @exam] do |f| %>
      <%= f.hidden_field :subject_id, value: subject.id %>
      <%= f.submit t("exam.start"), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
