<% provide :title, t("subject.name") %>
<div class="row">
  <div class="col-md-offset-3 col-md-7">
    <div class="page-header">
      <h1>
        <%= @subject.name %>
      </h1>
      <h3>
        <%= t "admin.subject.show.questions" %>
      </h3>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= t "questions.content" %></th>
        <th><%= t "questions.subject" %></th>
        <th><%= t "questions.status" %></th>
        <th><%= t "questions.approve" %></th>
        <th><%= t "questions.edit" %></th>
        <th><%= t "questions.delete" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @subject.questions %>
    </tbody>
  </table>
  </div>
</div>
