<tr>
  <td> <%= link_to exam.user.name, exam.user %> </td>
  <td> <%= "#{t("exam.name")} #{exam.id}" %> </td>
  <td>
    <span class = "label label-<%= exam.checked? ? "success" : "danger" %>">
      <%= exam.status %>
    </span>
  </td>
  <td> <%= link_to "", admin_exam_path(exam), class: "glyphicon
    glyphicon-edit" %> </td>
</tr>
