<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="text-center">
      <%= t "subject.name" %>:
      <%= link_to @exam.subject.name, @exam.subject %>
    </h4>
  </div>
  <div class="panel-body">
    <p>
      <%= t "admin.exam.result" %>: <%= @exam.words_correct %>
    </p>
    <p>
      <ol>
        <% @exam.results.each do |result| %>
        <li>
          <%= result.question.content %>
        </li>
        <ol type="a">
          <% result.question.answers.each do |answer| %>
            <li style="color:<%= answer.is_correct? ? "green" : "red" %>">
              <%= check_box_tag :answer_id, answer.id, !result.answer.nil? &&
                result.answer.id == answer.id ? true : false,
                disabled: true %>
              <label> <%= answer.content %> </label>
            </li>
          <% end %>
        </ol>
        <%= result.is_correct? ? t("true_answer") : t("false_answer") %>
        <br><br>
      <% end %>
      </ol>
    </p>
  </div>
</div>
