<% provide :title, t("admin.exam.title") %>
<h1> <%= t "admin.exam.title" %> </h1>
<h4>
  <%= form_for admin_exams_path(current_user), method: :get do |f| %>
    <div class="row">
      <% Settings.exam.option.each do |option| %>
        <div class="col-md-2">
          <%= radio_button_tag :option, option,
            (checked = true if params[:option] == option),
            class: "radio_exams", value: option %>
          <%= option %>
        </div>
        <% end %>
        <div class="col-md-off-set-4 col-md-2">
          <%= f.submit t("admin.exam.filter"),
            class: "btn btn-primary form-control"%>
        </div>
    </div>
  <% end %>
</h4>
<div id="section_admin_exam">
  <table id="exam" class="table table-bordered">
    <tbody>
      <tr>
        <th><%= t "admin.exam.name" %></th>
        <th><%= t "admin.exam.exams" %></th>
        <th><%= t "admin.exam.check" %></th>
      </tr>
      <tr>
        <%= render @exams %>
      </tr>
    </tbody>
  </table>
</div>
<%= paginate @exams %>
