<% if activity.owner == current_user || current_user.admin? %>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-pencil"></span>
    <small class="text-muted">
      <%= a.created_at.strftime("%H:%M:%S %-d %B %Y") %>
    </small>
    <br/>
    <strong><%= activity.owner.name %></strong>
    <% if a.trackable %>
      <%= t "user.exam_was_created" %>
      <%= link_to "Exam#{a.trackable.id}", exam_path(a.trackable) %>
    <% else %>
      <%= t "user.exam_error" %>
    <% end %>
  </li>
<% end %>
