<tr>
  <td><%= question.content %></td>
  <td><%= question.subject.name %></td>
  <td>
    <span class = "label label-<%= question_status_label(question.status) %>">
      <%= question.status %>
    </span>
  </td>
  <td>
    <% if question.waiting? %>
      <%= form_for [:admin, question] do |f| %>
        <%= f.hidden_field :status, value: :approved %>
        <%= f.submit t("questions.approve"),
          class: "btn btn-success btn-md" %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to "", edit_admin_question_path(question.id),
      class: "btn btn-warning btn-md glyphicon glyphicon-edit" %>
  </td>
  <td>
    <%= link_to "", admin_question_path(question.id),
      method: :delete, data: {confirm: t("questions.confirm")},
      class: "btn btn-danger btn-md glyphicon glyphicon-trash" %>
  </td>
</tr>
