<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: {method: :patch }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :chatwork_id %>
    <%= f.text_field :chatwork_id, class: "form-control" %>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

  <div class="row">
    <div class="col-md-offset-5 col-md-2">
      <%= f.submit t("user.update"), class: "btn btn-info" %>
    </div>
  </div>
<% end %>
</br>
<div class="row">
    <div class="col-md-offset-0 col-md-2">
      <%= button_to t("user.cancel_acc"), registration_path(resource_name),
  data: {confirm: t("user.confirm")}, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<%= link_to t(".back"), :back%>
